*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: serif;
	font-size: 14px;
	line-height: 24px;
	height: 1500px;
}
h1. h2, h3, h4, h5, h6{
	font-family: sans-serif;
}
a, a:hover{
	text-decoration: none;
}
.green{
	width: 700px;
	height: 350px;
	background: green;
	position: relative;
}
.red{
	width: 180px;
	height: 180px;
	background: red;
	border-radius: 50%;
	position: absolute;
	top: 22%;
	left: 35%;
	z-index: 1;
}
.facebook{
	width: 150px;
	position: fixed;
	top: 40%;
	right: -100px;
	transition: 1s;
}
.facebook:hover{
	right: 0px;
}
.ln{
	width: 150px;
	position: fixed;
	top: 50%;
	right: -100px;
	transition: 1s;
}
.ln:hover{
right: 0px;
}
.tw{
	width: 150px;
	position: fixed;
	top: 60%;
	right: -100px;
	transition: 1s;
}
.tw:hover{
	right: 0px;
}